API_KEY=

AZURE_SUBSCRIPTION_ID=
AZURE_AUTH_CLIENT_ID=
AZURE_AUTH_CLIENT_SECRET=
AZURE_AUTH_TENANT_ID=
AZURE_TRANSLATE_SUBSCRIPTION_KEY=
AZURE_TRANSLATE_SUBSCRIPTION_REGION=

DEEPL_AUTH_KEY=

IBM_AUTH_API_KEY=
IBM_AUTH_ACCOUNT_ID=
IBM_AUTH_RESOURCE_ID=
IBM_TRANSLATE_INSTANCE=

LIBRE_API_KEY=