export AZURE_SUBSCRIPTION_ID=""
export AZURE_AUTH_CLIENT_ID=""
export AZURE_AUTH_CLIENT_SECRET=""
export AZURE_AUTH_TENANT_ID=""
export AZURE_TRANSLATE_SUBSCRIPTION_KEY=""
export AZURE_TRANSLATE_SUBSCRIPTION_REGION=""

export DEEPL_AUTH_KEY=""

export IBM_AUTH_API_KEY=""
export IBM_AUTH_ACCOUNT_ID=""
export IBM_AUTH_RESOURCE_ID=""
export IBM_TRANSLATE_INSTANCE=""

export LIBRE_API_KEY=""